<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<%= render 'homepage/flats_list' %>
<div class="add_flat_form">
    <h3>Add new flat</h3>
    <%= render 'flats/form', flat: Flat.new %>
</div>
<%= render 'homepage/users_list' %>
