<h1>Editing neighborhood</h1>

<%= render "form", neighborhood: @neighborhood %>

<br>

<div>
  <%= link_to "Show this neighborhood", @neighborhood %> |
  <%= link_to "Back to neighborhoods", neighborhoods_path %>
</div>
